{% load staticfiles %}
{% include "EN/index_start.html" %}


<div class="ground-block block-1 start">

    <div class="block-background fill-abs"></div>

</div><!-- ground-block -->


<!--/////////////////////////////////////////////////////////////////////////////////////-->


<div class="ground-block block-2 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Wo?</div></div>

    <div class="block-content">

        <p class="paragraph">
            Unsere Behandlungen bringen Dich in die Welt der Schönheit, der angenehmen energetisierenden Wärme und der belebenden Kraft der vitalen Kräfte, die aus der Natur kommen. Dank unserer exklusiven Behandlungen Spa, mit der Nutzung der geprüften Bestandteile, wirst Du Stress und Müdigkeit los und gewinnst Du die Lust zum Handeln und auch das strahlende Aussehen.
        </p>

    </div>
</div>

<div class="ground-block block-3 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Wir über uns</div></div>

    <div class="block-content">

        <p class="paragraph">
            Day Spa Warschau Sungate Beauty & SPA – es gibt einen magischen Ort… Ort in Warschau, an dem Sie viele unvergessliche Empfindungen in der netten Atmosphäre  erfahren, die von der traditionellen, polnischen  Gastfreundlichkeit erfüllt ist. Wir schlagen Ihnen universale Therapien  Spa & Wellness, die eine inspirierende, raffinierte Verbindung  der wertvollsten Naturschätze, die im Meer und auf dem Lande versteckt sind, mit dem modernen Luxus in der besten Ausgabe sind. Wir bieten auch  eine Reihe der Behandlungen aus der ästhetischen Medizin an, die von den Ärzten ausgeführt sind, die auf schnelle ,sichere und natürliche Weise die Schönheit unterstreichen, den ganzen Körper verjüngen und größere Attraktivität der Silhouette bringen.  Permanent Make-up, das von unseren Linergistinnen gemacht wird, unterstreicht Deine Schönheit.
            <br><br>
            Jeder, der uns besucht, lernt die bisher unentdeckte Räume der Entspannung und Harmonie, die erlauben, in Sich selbst natürliche  Schichten der vitalen Kräfte  zur Erreichung des Erfolgs zu entdecken. Dieser magischer Ort, an dem Entspannung und Erholung herrschen sind: Sungate Beauty & Spa
            <br><br>
            Lage: Zentrum von  Warschau<br>
            Adresse: Plac Powstańców Warszawy 2<br>
            Parkplatz: ja, vor dem Salon<br>
            Wi-Fi: ja<br>
            Zahlung per Karte: ja<br>
        </p>

    </div>
</div>


<div class="ground-block block-4 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div> Für wen? </div></div>

    <div class="block-content">

        <p class="paragraph">
            Schon jetzt haben Sie die Chance , Genuss wie aus den Arkadischen Feldern zu erfahren. Unser Angebot, das  speziell an Dich gerichtet ist, ist eine raffinierte Verbindung des Reichtums der Natur mit dem Luxus des Alltags, die Du ohne Rücksicht darauf, wer Du bist, erfahren kannst.
        </p>

    </div>
</div>


<div class="ground-block block-5 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div> Angebot </div></div>

    <div class="block-content">

        <p class="paragraph">
            Wage dich, Deinem Körper  „schwarze Perle” unter den kosmetischen Behandlungen zu schenken und nutze unser Angebot auf:
        </p>

        <ul class="paragraph">
            <li> 1. Massagen: </li>
            <li>Enspannungs-,</li>
            <li>Enspannungsmassage des Gesichts und des Kopfes</li>
            <li>Schokoladenmassage mit Orangenöl</li>
            <li>Nährmassage mit Butter Shea</li>
            <li>Massage mit der Kerze</li>
            <li>Autorenmassage des Körpers  mit Arganöl</li>
            <li>Massage des Rückens</li>
            <li>Massage mit Schröpfen</li>
            <li>Klasische schwedische Massage</li>
            <li>Massage der Füsse und Beine</li>
            <li>Sportliche Massage</li>
            <li>Modellierende ,das Abnehmen unterstützende</li>
            <li>Massage mit warmen Ölen,</li>
            <li>Kaffevariation – beseitigt  Zellulitis, Entgiftung</li>
            <li>Schokoladeneuphorie –Ernährung</li>
            <li>Pflegeritual mit Guarana-regt an und ernährt</li>
        </ul>

        <ul class="paragraph">
            <li>2. Pflege des Gesichts:</li>
            <li>Abschuppungsbehandlung Peeling</li>
            <li>Reinigungsbehandlung</li>
            <li>Natürliche Schönheit –Anfeuchtungsbehandlung,</li>
            <li>Erfolgreiche Regenerierung -Collagen/Elastin/DNA,</li>
            <li>Behandlung mit Propolis für empfindliche Haut,</li>
            <li>Vitaminbombe -Ernährungsbehandlung,</li>
            <li>Skin Fit für ihn,</li>
            <li>Behandlung  für die Umgebung der Augen-Falten ,Müdigkeit, Anschwellungen,</li>
            <li>Anti-Aging-Massage  oder Entspannungsmassage des Gesichts und des Ausschnitts,</li>
            <li>Therapie mir grünem Kaffee,</li>
            <li>DAY SPA  für sie</li>
        </ul>

        <ul class="paragraph">
            <li>3. Pflege des Körpers:</li>
            <li>Aromatherapeutisches Peeling für den Körper mit Salzen aus Totem Meer, Zucker- oder Kaffee-</li>
            <li>Angelsberührung  SOS für die Haut (Peeling, Maske, Massage)</li>
            <li>Kaffeevariation beseitigt Zellulitis,Entgiftung (Peeling, Serum, Massage)</li>
            <li>Schokoladeneuphorie  - Ernährung (Peeling, Maske, Massage)</li>
            <li>Pflegeritual mit Guarana regt an ,ernährt( Peeling, Massage)</li>
        </ul>

        <ul class="paragraph">
            <li>4 .Behandlung für Paare:</li>
            <li>Tag der Schönheit (Gesicht und Körper)</li>
            <li>Entspannungsmassage mit warmen Ölen</li>
            <li>Ritual der aromatherapetischen Massage</li>
            <li>Ritual der Massage mit Kerzen</li>
            <li>Ritual der Massage mit der Schokolade mit Orangenöl</li>
            <li>Massage des Körpers mit der Nährbutter Shea</li>
        </ul>

        <ul class="paragraph">
            <li>5. Bahandlung für Frauen:</li>
            <li>Peeling des Körpers und Massage des Rückens</li>
            <li>Peeling des Körpers und Entspannungsmassage</li>
            <li>Angelsberührung - SOS für die Haut</li>
            <li>Kaffeevariation – Beseitigung von Zellulitis, Entgiftung</li>
            <li>Schokoladeneuphorie - Ernährung</li>
            <li>Day Spa für sie (Peeling, Massage, Akupressur der Füße)</li>
            <li>Therapie mit dem grünen Kaffee  -beseitigt Zellulitis und ernährt</li>
            <li>Tag der Schönheit (exklusive Behandlung für Gesicht, Peeling, Massage)</li>
        </ul>

        <ul class="paragraph">
            <li>6. Behandlung für Männer:</li>
            <li>Jugendliche Energie – Regenerierende Behandlung für Gesicht, Massage des Rückens oder Füße</li>
            <li>Peeling mit Massage mit Butter Shea</li>
            <li>Day Spa für Männer (Behandlung für Gesicht, Peeling, Massage)</li>
        </ul>

    </div>
</div>


<div class="ground-block block-6 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Was jetzt?</div></div>

    <div class="block-content">

        <p class="paragraph">
            Reserviere schon heute die Zeit für Behandlungen der ästhetischen Medizin, die Dich verjüngen, die Haut des Gesichts und des Körpers elastisch  und straff machen  und auch Unvollkommenheiten, Falten Runzeln, und Zellulitis eliminieren, der Arzt der ästhetischen Medizin wählt während der Konsultation individuell die Behandlung, Produkt und Therapie zu Deinem Problem aus. Wir arbeiten mit Marken: Stylage, Croma, Juvederm, Restylane, Teosyal, Ellanse, Dermaheal, Botoks, Azzalure, Bocouture, Aqualyx, Phosphatidylcholine, Regeneris.
        </p>

    </div>
</div>



{% include "EN/index_end.html" %}
