{% load staticfiles %}
{% include "EN/index_start.html" %}


<div class="ground-block block-1 start">

    <div class="block-background fill-abs"></div>

</div><!-- ground-block -->



<div class="ground-block block-2 BIG">

    <div class="block-background fill-abs"></div>

    <div class="block-content">

        <p class="paragraph"><strong>Day Spa Warszawa Sungate Beauty & SPA</strong> – jest takie magiczne miejsce… miejsce w Warszawie, w którym doświadczycie Państwo wielu niezapomnianych doznań w miłej atmosferze przepełnionej tradycyjną, polską gościnnością. Proponujemy Wam wszechstronne terapie Spa & Wellness będące inspirującym, wyrafinowanym połączeniem najcenniejszych skarbów natury ukrytych w morzu i na lądzie z nowoczesnym luksusem w najlepszym wydaniu. Oferujemy również szereg zabiegów z medycyny estetycznej, wykonywanych przez lekarzy, które w szybki, bezpieczny i naturalny sposób podkreślą urodę, odmłodzą całe ciało i przyniosą większą atrakcyjność sylwetki.</p>
        <p class="paragraph">Każdy, kto Nas odwiedzi, pozna nieodkryte dotąd przestrzenie odprężenia i harmonii pozwalające odnaleźć w sobie naturalne pokłady niezbędnych do osiągnięcia sukcesu sił witalnych. To magiczne miejsce w którym królują relaks i odpoczynek to:</p>

    </div>
</div>


<div class="ground-block block-3 BIG">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Sungate Beauty & Spa Warszawa</div></div>

    <div class="block-content">

        <div style="text-align: center">
            <img src="/static/img/tabs/zabiegi.jpg" alt="Zabiegi">
        </div>
        <p class="paragraph">Zarezerwuj już dziś czas na zabiegi medycyny estetycznej, które odmłodzą Cię , uelastycznią i ujędrnią skórę twarzy i ciała a także wyeliminują niedoskonałości, zmarszczki, bruzdy i cellulit, . Lekarz medycyny estetycznej podczas konsultacji dobierze indywidualnie zabieg, produkt i terapię do Twojej problemu. Pracujemy na markach: Stylage, Croma, Juvederm, Restylane, Teosyal, Ellanse, Dermaheal, Botoks, Azzalure, Bocouture, Aqualyx, Phosphatidylcholine, Regeneris.</p>

    </div>
</div>


<div class="ground-block block-4 BIG">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Oferujemy</div></div>

    <div class="block-content">
        <ul class="paragraph" style="list-style: disc; margin-left: 30px;">
            <li>WYPEŁNIANIE ZMARSZCZEK NA BAZIE PREPARATU NATURALNEGO</li>
            <li>POWIĘKSZENIE, MODELOWANIE I NAWILŻENIE UST</li>
            <li>NICI PDO, FIRST LIFT, SCREW, BARB 4D</li>
            <li>VOLUMETRIA TWARZY</li>
            <li>ODMŁODZENIE DŁONI – poprawa wyglądu</li>
            <li>BOTOKS, AZZALURE, BOCOUTURE – Korekcja zmarszczek mimicznych</li>
            <li>LECZENIE NADPOTLIOŚCI</li>
            <li>MEZOTERAPIA IGŁOWA</li>
            <li>BRUKSIZM</li>
            <li>REGENERIS– osocze bogatopłytkowe</li>
        </ul>
        <p class="paragraph">Już teraz możecie Państwo wykonać u nas w salonie makijaż permanentny różnymi technikami. Zapraszamy do zapoznania się z ofertą.</p>

    </div>
</div>


<div class="ground-block block-5 BIG">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Więcej informacji</div></div>

    <div class="block-content">

        <div style="text-align: center">
            <img src="/static/img/tabs/salon.jpg" alt="Salon">
        </div>
        <div class="title">Poznaj bogactwo i moc luksusowych zabiegów na twarz i ciało oraz masaży Sungate Beauty & Spa Warszawa</div>

        <p class="paragraph">Już teraz macie Państwo szansę doświadczyć rozkoszy niczym tej z pól Arkadyjskich.</p>
        <p class="paragraph">Nasza oferta skierowana specjalnie do Ciebie to wyrafinowane połączenie bogactwa natury z luksusem codzienności, którego możesz doświadczyć bez względu na to kim jesteś.</p>
        <p class="paragraph">Odważ się podarować swojemu ciału „czarną perłę” wśród zabiegów kosmetycznych i skorzystaj z naszej oferty na:</p>
        <ul class="paragraph" style="list-style: disc; margin-left: 30px;">
            <li>zabiegi pielęgnacyjne twarzy (nawilżenie, odżywienie, złuszczenie, oczyszczenie )</li>
            <li>zabiegi pielęgnacyjne ciała (peelingi, rytuały Spa & Wellness)</li>
            <li>masaże: masaż klasyczny, masaż relaksacyjny, masaż antycelulitowy, masaż odchudzający</li>
            <li>zabiegi dla Par w Vip Room.</li>
            <li>zabiegi dla Kobiet</li>
            <li>zabiegi dla Mężczyzn</li>
        </ul>
        <p class="paragraph">Gwarantujemy, że Twoje ciało dzięki odpowiednio dobranym maskom oraz na przykład zabiegom wspomagającym odchudzanie szybko odwdzięczy Ci się za to niebywałą energią, chęcią do życia, do tworzenia czegoś nowego – do rozwoju. Pamiętaj, to właśnie one są niezbędne w dążeniu ku sukcesom, niezależnie od tego, czym się aktualnie zajmujesz.</p>
        <p class="paragraph">Koniecznie skorzystaj z naszej ekskluzywnej oferty na medycynę estetyczną, makijaż permanentny, masaże i inne zabiegi w Warszawie już teraz, a osiągniesz upragnione zwycięstwo szybciej niż się spodziewasz. Poznaj naszą „Ucztę Pięciu Zmysłów”</p>
        <br>
        <br>
        <br>
        <div style="text-align: right">
            <strong>Zespół SUNGATE BEAUTY & SPA</strong>
        </div>

    </div><!-- block-content -->

</div><!-- ground-block -->


{% include "EN/index_end.html" %}
