
$header-navigation-secondary--color: $G-COLOR-0
$header-navigation-secondary--background-color: $G-COLOR-4


//--------------------------------------
//         Navigation secondary
//--------------------------------------


#HEADER >.header >.navigation-secondary
  position: absolute
  left: 200px
  top: 0
  right: 0

  display: block
  height: 50px
  padding:
    top: 10px
    left: 17px
    right: 20px

  background-color: $header--background-color
  color: $header--color

  z-index: 70

  >.navigation-secondary-right
    float: right
    text-align: right

  >ul
    display: inline-block

    >li
      display: inline-block
      width: auto

      font:
        size: 20px
        weight: normal

      >.link
        position: relative

        font-weight: bold
        cursor: pointer


.navigation-secondary

  .flag
    display: inline-block
    width: 30px

  .flag_pl
    +background-img( url(/static/img/flags/pl_PL.png), 100%, center)
  .flag_en
    +background-img( url(/static/img/flags/uk_UK.png), 100%, center)
  .flag_de
    +background-img( url(/static/img/flags/de_DE.png), 100%, center)



@media (max-width: 400px)
  #HEADER >.header >.navigation-secondary

    .navigation-secondary-right
      text-align: center

    li:first-child
      display: block

    li.navigation-secondary-space
      display: none



@media (max-width: 450px)
  #HEADER >.header >.navigation-secondary
    left: 150px

@media (min-width: $G-SIZE-3)

  #HEADER >.header >.navigation-secondary

    .navigation-secondary-searcher, .navigation-secondary-space.for_searcher
      display: none