{% load staticfiles %}
{% include "EN/index_start.html" %}


<div class="ground-block block-1 start">

    <div class="block-background fill-abs"></div>

</div><!-- ground-block -->


<!--/////////////////////////////////////////////////////////////////////////////////////-->


<div class="ground-block block-2 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>Where?</div></div>

    <div class="block-content">

        <p class="paragraph">
            Our treatments will take you into a world of beauty, pleasantly energizing heat and life-giving power of the vital forces of nature. Thanks to our exclusive spa treatments, using only verified ingredients, You will get rid of stress and fatigue, regaining willingness to act and glowing look.
        </p>

    </div>
</div>


<div class="ground-block block-3 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div>About us</div></div>

    <div class="block-content">

        <p class="paragraph">
            Day Spa Warsaw Sungate Beauty&SPA is such a magical place, where You will experience unforgettable moments in a relaxing atmosphere full of traditional Polish hospitality. We offer you a comprehensive Spa&Wellness therapies that are inspiring and sophisticated combination of the most precious treasures of nature and modern luxury at its best. We also offer You a wide range of medical aesthetic treatments, performed by doctors, which will rejuvenate Your body and make You more attractive in fast, safe and natural way. We offer also permanent make-up performed by our lingerists that will emphasize Your beauty.
            <br><br>
            Anyone who visits us will discover unexplored spaces of relaxation and harmony that allows to find natural vitality reserves, which are necessary to succeed. This magical place where relaxation and rest reign is Sungate Beauty&Spa.
            <br><br>
            location: Warsaw<br>
            address: Powstańców Warszawy 2<br>
            Parking area: Yes, In front of living room<br>
            Wi-fi: Yes<br>
            Credit cards: Yes<br>
        </p>

    </div>
</div>


<div class="ground-block block-4 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div> For whom? </div></div>

    <div class="block-content">

        <p class="paragraph">
            Now You have a chance to experience Arcadian bliss. Our offer prepared specially for You is a sophisticated combination of wealth of nature and luxury of everydayness, that You can experience no matter who You are.
        </p>

    </div>
</div>


<div class="ground-block block-5 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div> Offer </div></div>

    <div class="block-content">

        <p class="paragraph">
            Dare to give your body a "Black Pearl" among beauty treatments and take advantage of our offer:
        </p>

        <ul class="paragraph">
            <li>1. Massages:</li>
            <li>relaxation</li>
            <li>relaxing face&head massage</li>
            <li>chocolate with orange oil</li>
            <li>nourishing shea butter massage</li>
            <li>candle massage</li>
            <li>authorial body massage with argan oil</li>
            <li>back massage</li>
            <li>Chinese cupping massage</li>
            <li>Swedish (classic) massage</li>
            <li>feet&legs massage</li>
            <li>sports massage</li>
            <li>modelling&slimming</li>
            <li>massage with warm oils</li>
            <li>coffee variation – anti-cellulite, detoxication</li>
            <li>chocolate euphoria – nourishing</li>
            <li>conditioning ritual with guarana - energizing and nourishing</li>
        </ul>


        <ul class="paragraph">
            <li>2. Facial care:</li>
            <li>Exfoliating treatment (exfoliation)</li>
            <li>purifying treatment</li>
            <li>natural beauty – moisturizing treatment</li>
            <li>effective regeneration – collagen/elastin/DNA</li>
            <li>treatment with propolis for sensitive skin</li>
            <li>vitamin bomb - nourishing treatment</li>
            <li>skin fit for him</li>
            <li>treatment for eye area – wrinkles, tiredness, swelling</li>
            <li>anti-aging  or relaxing face, neck, cleavage massage</li>
            <li>green coffee treatment</li>
            <li>Day Spa for her</li>
        </ul>

        <ul class="paragraph">
            <li>3. Body care:</li>
            <li>aromatherapy body scrub with Dead Sea salts, sugar or coffee</li>
            <li>angelic touch – SOS for skin (peeling, mask, massage)</li>
            <li>coffee variation – anti-cellulite, detoxication (peeling, serum, massage)</li>
            <li>chocolate euphoria – nourishing (peeling, mask, massage)</li>
            <li>ritual care with guarana – energizing and nourishing (peeling, massage)</li>
        </ul>

        <ul class="paragraph">
            <li>4. Treatments for couples:</li>
            <li>day of beauty (face and body)</li>
            <li>relaxing massage with warm oils</li>
            <li>the ritual of aromatherapy massage</li>
            <li>the ritual of candle massage</li>
            <li>the ritual of massage with chocolate with orange oil</li>
            <li>nourishing shea butter body massage</li>
        </ul>

        <ul class="paragraph">
            <li>5. Treatments for women:</li>
            <li>body scrub and back massage</li>
            <li>body scrub and relaxing massage</li>
            <li>angelic touch – SOS for skin</li>
            <li>coffee  variation – anti-cellulite, detox</li>
            <li>chocolate euphoria – nourishing</li>
            <li>Day Spa for her (peeling, massage, feet acupressure)</li>
            <li>green coffee treatment  - anti-cellulite, nourishing</li>
            <li>Day of beauty (exclusive facial treatment, peeling, massage)</li>
        </ul>

        <ul class="paragraph">
            <li>6. Treatments for men:</li>
            <li>youthful energy –regenerative facia treatment, feet or back massage</li>
            <li>peeling and shea butter massage</li>
            <li>Day Spa for Men (facial treatment, peeling, massage)</li>
        </ul>

    </div>
</div>


<div class="ground-block block-6 BIG about">

    <div class="block-background fill-abs"></div>

    <div class="block-title"><div> What now? </div></div>

    <div class="block-content">

        <p class="paragraph">
            Reserve some time for medical aesthetic treatments, that will toughen and revitalise your skin and rejuvenate You as well as eliminate imperfections, wrinkles, creases and cellulite. Aesthetic doctor during the consultations will select individual treatment, product and therapy for Your problem. We work with brands: Stylage, Croma, Juvederm, Restylane, Teosyal, Ellanse, Dermaheal, Botoks, Azzalure, Bocouture, Aqualyx, Phosphatidylcholine, Regeneris.
        </p>

    </div>
</div>



{% include "EN/index_end.html" %}
