
{% include "EN/_organisms/_admission.html" %}
<!------------- Container - start -------------->


    <!-- Header -->
    {% include "EN/_organisms/header.html" %}

    <!-- Content -->
    {% include "EN/_organisms/ground_start.html" %}

        <div class="ground-block block-1 start">

            <div class="block-background fill-abs"></div>

            <div class="block-content">

                Ground loading...

            </div><!-- block-content -->

        </div><!-- ground-block -->

    {% include "EN/_organisms/ground_end.html" %}

    <!-- Footer -->
    {% include "EN/_organisms/footer.html" %}


<!------------- Container - end -------------->
{% include "EN/_organisms/_ending.html" %}

